html{
    font-size: 1px;
}

/* Green background */
body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #8dc63f;
}

/* White background */
.wrapper {
    margin: 0 auto;
    max-width: 960rem;
    padding: 0 15rem;
    background-color: #fff;
    box-sizing: border-box;
}

/* Upper part of the site */
header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20rem;
    padding: 25rem 0;
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15rem;
}

.logo p{
    text-align: center;
}

.logo b {
    display: block;
    font-size: 44rem;
}

.logo p,
.contacts a {
    margin: 0;
    color: #39930d;
    font-size: 22rem;
    text-decoration: none;
    transition: .5s ease all;
}


.contacts a {
    display: block;
    margin-bottom: 8rem;
    cursor: url(../cursor/ball.cur), auto;
}

.contacts p{
    margin: 0;
}

.logo i,
.contacts i {
    margin-bottom: 26rem;
    color: #5a5a5a;
    font-style: italic;
    font-size: 14rem;
}

.logo img {
    padding: 0 35rem;
}

/* How to contact us */
.contacts p {
    text-align: center;
}

/* Main picture */
.main-pic {
    width: 100%;
    object-fit: cover;
    object-position: 75%;
    height: 200rem;
    vertical-align: bottom;
}

/* The main part of the site */
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 30rem 0 30rem;
}

/* Main text */
main h1 {
    margin: 0;
    color: #39930d;
    font-size: 24rem;
}

.main-text {
    max-width: 600rem;
}

main p {
    color: #343434;
    font-size: 14rem;
    line-height: 1.5em;
}

/* Side menu */
.menu {
    min-width: 300rem;
    width: 100%;
}

.menu p {
    margin: 0;
    padding: 9rem 20rem;
    color: #fff;
    font-size: 18rem;
    background-color: #39930d;
}

.menu ul {
    margin: 0;
    margin-bottom: 15rem;
    padding-top: 16rem;
    padding-left: 20rem;
    padding-bottom: 16rem;
    list-style: none;
    background-color: #f2ffdf;
}

.menu li {
    margin-bottom: 15rem;
}

.menu a {
    color: #39930d;
    font-size: 14rem;
    text-decoration: underline;
    text-transform: uppercase;
    transition: .5s ease all;
    cursor: url(../cursor/ball.cur), auto;
}

.menu a:hover,
.contacts a:hover {
    color: #343434;
}

/* Bottom line of the site */
footer{
    margin: 0 -15rem;
    padding: 15rem;
    background-color: #39930d;
}

footer p{
    margin: 0;
    color: #ffffff;
    font-size: 14rem;
}

@media screen and (min-width:425px){
    .logo{
        justify-content: flex-start;
    }

    .logo p{
        text-align: left;    
    }

    
}

@media screen and (min-width:625px){
    header{
        justify-content: space-between;
    }
    .contacts p {
        text-align: right;
    }

    main{
        flex-wrap: nowrap;
    }

    .menu ul{
        background-color: transparent;
    }
}